# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

# Data, Images, and Documents
*.dat
*.lc
*.mcmc
*.jpg
*.pdf
*.eps
*.png
*.log

# Backups
*~

# Python Extensions
_*.py

# Specific Executables
testPoint
endToEndTest
plotCARMARegions
fitCARMA
writeKeplerLC
writeMockLC
computeCFs
recoveryTest
